@import "tailwindcss";

a,
button {
  cursor: pointer;
}

/* Remove arrows from all number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/*Remover cor de fundo padrão dos inputs de navegadores ao selecionar um preenchimento automatico*/
input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

/* Animação de link sublinhado */
.custom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.custom-link:hover::after {
  animation: expandBorder 0.5s forwards;
}

/* Animação para aumentar escala */
.increase-scale {
  @apply transition-transform duration-200 ease-in-out hover:scale-125;
}

@keyframes expandBorder {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* Animação dos cards do <CurrenciesOverview/> */
.card-overview-hover {
  @apply duration-300 ease-in-out hover:-translate-y-3 hover:rounded-2xl hover:bg-gray-50 hover:shadow-md hover:transition-transform;
}

/* Animação da "?" em "Você sabia?"*/
.custom-interrogation {
  animation: rotateInterrogation 2s infinite;
}

@keyframes rotateInterrogation {
  0% {
    transform: rotate(8deg);
  }
  5% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

/* Animação do botão no Footer para ir ao topo da página*/
.btn-arrow-top {
  animation: arrow-top 1.5s infinite;
}

@keyframes arrow-top {
  0%,
  100% {
    transform: translateY(10%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
