@import "tailwindcss";

a,
button {
  cursor: pointer;
}

/* Animação de link sublinhado */
.custom-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

.custom-link:hover::after {
  animation: expandBorder 0.5s forwards;
}

@keyframes expandBorder {
  0% {
    left: 50%;
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
  }
}

/* Animação dos cards do <CurrenciesOverview/> */
.card-overview-hover {
  @apply duration-300 ease-in-out hover:-translate-y-3 hover:rounded-2xl hover:bg-gray-50 hover:shadow-md hover:transition-transform;
}

/* Animação da "?" em "Você sabia?"*/
.custom-interrogation {
  animation: rotateInterrogation 2s infinite;
}

@keyframes rotateInterrogation {
  0% {
    transform: rotate(8deg);
  }
  5% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(12deg);
  }
  15% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(8deg);
  }
}

/* Remove arrows from all number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
